---
const { href = "#", variant = "primary", size = "large", input } = Astro.props;

const linkStyling = "transition-all duration-300 ease-in-out text-center";

const variantClasses = {
  primary: "text-obsidian hover:text-violet aria-[current=page]:text-violet",
};

const sizeClasses = {
  large: "text-link-m font-regular",
  small: "text-link-s font-p-light",
};
---

<a 
  href={href} 
  class:list={[linkStyling, variantClasses[variant], sizeClasses[size]]} 
  data-navlink
>
  {input}
</a>
